@tailwind base;
@tailwind components;
@tailwind utilities;

.ai-heading-css {
  @apply font-extrabold sm:text-3xl md:text-5xl lg:text-6xl;
  background: linear-gradient(
    90deg,
    #ff4b1f,
    #ff9068,
    #1fddff,
    #1fffc9,
    #ff4b1f
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button-css {
  @apply py-2 px-4 sm:mx-4 md:mx-6 lg:mx-8 font-medium rounded-full cursor-pointer;
}



.div1-css {
  @apply flex flex-wrap justify-evenly items-center gap-y-2 gap-x-2;
}


.askai-button-css {
  @apply py-2 px-4 sm:mx-4 md:mx-6 lg:mx-8 font-medium cursor-pointer   relative;
  padding: 1.5rem 2.5rem;
  background-color: #0097a7; /* dark blue-green color */
  color: #ffffff; /* white text */
  border-radius: 5px; /* add some rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* add some depth */
  transition: background-color 0.3s ease; /* smooth transition on hover */
  clip-path: polygon(100% 50%, 50% 0%, 60% 25%, 0% 25%, 0% 75%, 60% 75%, 50% 100%);
}

.askai-button-css:hover {
  background-color: #00bcd4; /* light blue-green color on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* increase depth on hover */
}