@tailwind base;
@tailwind components;
@tailwind utilities;

.ai-heading-css {
  @apply font-extrabold sm:text-3xl md:text-5xl lg:text-6xl;
  background: linear-gradient(
    90deg,
    #ff4b1f,
    #ff9068,
    #1fddff,
    #1fffc9,
    #ff4b1f
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button-css {
  @apply py-2 px-4 sm:mx-4 md:mx-6 lg:mx-8 font-medium rounded-full cursor-pointer;
}

.askai-button-css {
  @apply py-2 px-4 sm:mx-4 md:mx-6 lg:mx-8 font-medium rounded-full cursor-pointer border-4 border-cyan-500 transition duration-300 ease-in-out;
}

.div1-css {
  @apply flex flex-wrap justify-evenly items-center gap-y-2 gap-x-2;
}
